@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'Zilla Slab';
	src: url("fonts/ZillaSlab-Light.ttf");
}
@font-face {
	font-family: 'Montserrat';
	src: url("fonts/Montserrat-Thin.ttf");
}
body {
	font-family: 'Zilla Slab', serif;
	font-size: 14pt;
	line-height: 150%;
	color: #F3F1F0;
	background: #232120;
}
h1, h2, h3, a{
	font-family: 'Montserrat', sans-serif;
}
h1 {
	font-size: 400%;
	text-align: center;
	color: #ffffff;
}
h2 {
	font-size: 200%;
}
p {
	font-family: 'Zilla Slab', serif;
	font-size: 100%;
	margin-top: 0.25%;
}
.head-image{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2.5%;
	width: 80%;
	height: 80%;
}
.post {
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-top: 1%;
	margin-bottom: 1%;
}
.maincontent{
	display: block;
	margin-left: 15%;
	width: 70%;
}
.sidebar{
	display: inline-block;
	top: 0;
	left: 0;
	height: 100%;
	width: 12%;

	background: #771D2A;
	position: fixed;
}
.sidebar-item{
	display: block;
	width: 100%;

	color: #ffffff;
	padding-top: 20%;

	font-size: 150%;
	text-align: center;
	text-decoration: none;
}
.sidebar-item:hover{
	color: #ffffff;
}